* { box-sizing: border-box; }

/*
Project Name: Relaxr Blog
Author: Natalie Holt
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.fl {
  float: right;
}

.fl {
  float: left;
}

/* BASE STYLES*/

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: #fff;
}

/* LAYOUT*/

/* Center the container */

#container {
    width: 1200px;
    margin: auto;
}

header {
    background: #033048;
    background-image: url(../images/header_bg.jpg);
    background-position: center bottom;
    padding: 23px 120px;
}

#headerBlog {
    height: 120px;
}

#headerLanding {
    height: 700px;
}

main {
    background: #efefef;
    padding: 80px 120px 60px 120px;
}

footer {
    background: #121212;
    padding: 80px 120px 40px 120px;
}

/* ADDITIONAL STYLES*/




/* FOOTER */

footer {
  background: #2E2E2E;
  height: 300px;
  text-align: center;
}

.footer-logo {
  display: inline-block;
  color: #f9e42e;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  font-weight: 800;
  padding: 50px;
}

footer a {
  margin: 15px;
}

footer p {
  padding: 50px 0 0 0;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.cta {
  background-color: #f9e42e;
  padding: 50px;
  text-align: center;
}

.cta button {
  background-color: #033048;
  border-radius: 5px;
  border-style: none;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  padding: 15px 65px 15px 65px;
  cursor: pointer;
}

.cta button:hover {
  background-color: #075077;
}


/* FOOTER */

footer {
  background-color: #121212;
  background-size: 100%;
  text-align: center;
}

.footer-logo {
  display: inline-block;
  background-color: #121212;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  font-weight: 800;
  padding: 50px;
}

footer a {
  margin: 15px;
}

footer p {
  padding: 50px 0 0 0;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
}
